.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card img {
  /* max-height: 200px; */
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
